name: Android Build

on:
  push:
    branches: [ne/actions]

jobs:
   build:

     runs-on: ubuntu-latest

     steps:
       - uses: actions/checkout@v1

       - name: Set Up JDK
         uses: actions/setup-java@v1
         with:
          java-version: 1.8

       - name: Run Tests
         run: ./gradlew test

       - name: Build Debug apk
         run: ./gradlew assembleDebug

       artifacts:
         - app/build/output/apk/debug/*.apk

       publishing:
         email:
           recipients:
             -harshjasani12345@gmail.com


